.price-card {
  height: 770px;
  width: 380px;
  overflow: hidden;
  background-color: #334247;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(2) {
    margin-right: 18px;
    position: relative;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
    padding-top: 33px;
  }

  &__title-text {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 33px;
  }

  &__price {
    margin: 0;
    font-size: 55px;
    line-height: 67px;
    font-weight: 700;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  &__description {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    text-align: center;
    padding: 40px 26px;
  }

  &__options-list {
    height: 300px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &_item {
      position: relative;
      display: block;
      height: 50px;
      padding-left: 59px;
      font-size: 15px;
      line-height: 50px;
      font-weight: 300;

      &:nth-child(odd) {
        background-color: #2a3438;
      }

      .checkmark {
        position: absolute;
        top: 19px;
        left: 22px;
        display: block;
        height: 13px;
        width: 15px;

        &_green {
          background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png)
            center no-repeat;
        }

        &_blue {
          background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png)
            center no-repeat;
        }

        &_orange {
          background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png)
            center no-repeat;
        }
      }
    }
  }

  &__button {
    display: block;
    height: 40px;
    width: 155px;
    margin: 39px auto 40px auto;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }

  &__badge {
    position: absolute;
    top: 27px;
    right: -33px;
    height: 25px;
    width: 147px;
    transform: rotate(45deg);
    background-color: #dc3f45;
    font-size: 14px;
    line-height: 27px;
    font-weight: 700;
    text-align: center;
  }

  .color_green {
    background-color: #5bb189;
  }

  .color_blue {
    background-color: #3a6ba5;
  }

  .color_orange {
    background-color: #ec632a;
  }
}
