@import 'cards.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #141b1c;
}

.page {
  display: flex;
  margin: auto;
}
